Questão 1

In [244]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.svm import SVC
import seaborn as sns
from sklearn import svm

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

**Questão1** Inspecione os dados. Quantos exemplos você tem? Qual o intervalo de valores de cada feature?

In [245]:
#QUANTIDADE
df= pd.read_csv('wineQuality_val.data')
df

      fixed.acidity  volatile.acidity  citric.acid  ...  sulphates  alcohol  quality
0               6.0              0.29         0.27  ...       0.41     12.7        1
1               7.4              0.60         0.26  ...       0.56      9.8        1
2               7.4              0.29         0.28  ...       0.47     10.6        1
3               7.8              0.46         0.26  ...       0.74      9.2        1
4               6.8              0.25         0.34  ...       0.38     10.6        1
...             ...               ...          ...  ...        ...      ...      ...
1294            6.8              0.19         0.58  ...       0.48      9.6        1
1295            6.6              0.24         0.28  ...       0.46     11.4        0
1296            6.2              0.35         0.29  ...       0.55     10.0        1
1297            7.2              0.17         0.28  ...       0.43      9.0        1
1298            7.5              0.19         0.34  ...       0.49     11.1        1

[1299 rows x 12 columns]

In [246]:
#INTERVALOS
df.describe()

       fixed.acidity  volatile.acidity  ...      alcohol      quality
count    1299.000000       1299.000000  ...  1299.000000  1299.000000
mean        7.234681          0.339530  ...    10.538992     0.643572
std         1.242974          0.165164  ...     1.207854     0.479128
min         3.900000          0.090000  ...     8.400000     0.000000
25%         6.400000          0.230000  ...     9.500000     0.000000
50%         7.000000          0.300000  ...    10.400000     1.000000
75%         7.700000          0.400000  ...    11.400000     1.000000
max        12.900000          1.180000  ...    14.200000     1.000000

[8 rows x 12 columns]

**Questão2** Normalize os dados de modo que eles fiquem todos no mesmo intervalo.

In [247]:
#NORMALIZACAO
df.value_counts(normalize=True)

fixed.acidity  volatile.acidity  citric.acid  residual.sugar  chlorides  free.sulfur.dioxide  total.sulfur.dioxide  density  pH    sulphates  alcohol  quality
6.5            0.230             0.36         16.3            0.038      43.0                 133.0                 0.99924  3.26  0.41       8.8      0          0.002309
7.7            0.300             0.42         14.3            0.045      45.0                 213.0                 0.99910  3.18  0.63       9.2      0          0.002309
6.2            0.240             0.22         7.9             0.053      45.0                 149.0                 0.99545  3.23  0.52       9.3      0          0.001540
7.1            0.260             0.34         14.4            0.067      35.0                 189.0                 0.99860  3.07  0.53       9.1      1          0.001540
7.5            0.240             0.31         13.1            0.050      26.0                 180.0                 0.99884  3.05  0.53       9.1      1          0.001540
                                                                                                                                                                    ...
7.4            0.300             0.30         5.2             0.053      45.0                 163.0                 0.99410  3.12  0.45       10.3     1          0.000770
                                 0.49         8.2             0.055      49.0                 188.0                 0.99740  3.52  0.58       9.7      1          0.000770
               0.310             0.28         1.6             0.050      33.0                 137.0                 0.99290  3.31  0.56       10.5     1          0.000770
                                 0.48         14.2            0.042      62.0                 204.0                 0.99830  3.06  0.59       9.4      0          0.000770
3.9            0.225             0.40         4.2             0.030      29.0                 118.0                 0.98900  3.57  0.36       12.8     1          0.000770
Length: 1255, dtype: float64

**Questão3** Treine um SVM para predizer a qualidade dos vinhos.

In [248]:
#SVM
classifier =SVC(kernel ='rbf', random_state=0)
classifier.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
sns.pairplot(df[['fixed.acidity','volatile.acidity','citric.acid','residual.sugar','chlorides','free.sulfur.dioxide','total.sulfur.dioxide','density','pH','sulphates','alcohol','quality']], hue='quality')

**Questão4** Classifique os dados de validação.

In [249]:
#CLASSIFICAÇÃO
classificador=classifier.predict(x_test)
classificador

array([6, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 7, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6,
       5, 5, 7, 6, 5, 5, 5, 6, 7, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6, 5, 5, 7, 6, 5, 6,
       6, 5, 6, 5, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 7, 6, 6, 5, 5, 6,
       5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 5, 5,
       6, 6, 6, 7, 5, 5, 7, 7, 5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6,
       6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6,
       6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5, 5, 5, 6, 6, 6, 7, 5, 6, 6, 6, 7,
       5, 6, 5, 6, 7, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5,
       6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 6,
       7, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 6,
       6, 5, 6, 5, 5, 5, 6, 7, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 6, 5, 5, 5,
       6, 6, 6, 5, 5, 5, 5, 5, 5, 7, 6, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 5,
       7, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 7, 6, 6, 5, 5, 6, 5, 5, 5, 6,
       5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5])

**Questão5** Calcule a matriz de confusão e acurácia no conjunto de validação.

In [250]:
#MATRIZ DE CONFUSAO E ACURACIA
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
pred_rf=rf.predict(x_test)

print(classification_report(y_test,pred_rf))

cross_val = cross_val_score(estimator=rf, X=x_train,y=y_train,cv=10)
print(cross_val.mean())

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         3
           4       0.00      0.00      0.00        17
           5       0.73      0.85      0.78       142
           6       0.66      0.69      0.67       116
           7       0.72      0.59      0.65        39
           8       1.00      0.33      0.50         3

    accuracy                           0.70       320
   macro avg       0.52      0.41      0.43       320
weighted avg       0.66      0.70      0.68       320

0.6880905511811024

In [251]:
#MATRIZ DE CONFUSAO E ACURACIA

n3=KNeighborsClassifier(n_neighbors=5)
n3.fit(x_train,y_train)
pred_n3=n3.predict(x_test)

print(classification_report(y_test,pred_n3))

cross_val = cross_val_score(estimator=n3, X=x_train,y=y_train,cv=10)
print(cross_val.mean())

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         3
           4       0.00      0.00      0.00        17
           5       0.64      0.70      0.67       142
           6       0.49      0.54      0.51       116
           7       0.49      0.44      0.46        39
           8       0.00      0.00      0.00         3

    accuracy                           0.56       320
   macro avg       0.27      0.28      0.27       320
weighted avg       0.52      0.56      0.54       320

0.5801673228346457

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

In [252]:
from sklearn.ensemble import ExtraTreesClassifier
modelo =ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print("Acuracia: ", resultado)

Acuracia:  0.69375

.

.

.

In [ ]:
#Load in the red wine data from the UCI ML website.
#df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')
#Take a look
#print(df.head(10))
#Data dimensionality (rows, colums)
#print(df.shape)
# Data distributing
#df.info()

In [ ]:
#from sklearn.model_selection import train_test_split

#x_treino, x_teste, y_treino, y_teste=train_test_split(x,y,test_size=0.2)